<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Girish
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="__CSS__/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="__CSS__/iconfont.css" type="text/css" rel="stylesheet"/>
    <link href="__CSS__/common.css" type="text/css" rel="stylesheet"/>
    <link href="__CSS__/swiper.min.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/swiper.min.js"></script>
    <script type="text/javascript" src="__JS__/js.js"></script>

    <link rel='stylesheet' id='style-css'  href='__CSS__/style.css' type='text/css' media='all' />
    <script>var $pageInfo = {publishmentSystemID : 72, channelID : 72, contentID : 0, siteUrl : "/girish", homeUrl : "/home", currentUrl : "/girish", rootUrl : "", apiUrl : "/api"};</script></head>
<body class="home blog">

<div id="top_nav" class="header yapiskan">
    <div class="container">
        <div class="row">
            <div class="top-bar mnav">
                <button class="navbar-toggle js-open-nav" type="button">
                    <div class="icon-bar"> </div>
                    <div class="icon-bar"> </div>
                    <div class="icon-bar"> </div>
                </button>
            </div>
            <div class="logo mnav"> <a href="#"> <img height="50" width="50" src="__IMG__/index/logo.png" /> </a> </div>
            <div class="pull-right mnav"> <i class="icon icon-search" id="msearch"></i> </div>
            <div class="nav-left" id="nav">

                <ul class="nav-menu clearfix">

                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-29">
                        <a href="__PUBLIC__/home/channels/131.html">关于我们
                            <span class="caret"></span>
                        </a>
                        <!--<ul class="sub-menu">

                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11"><a href="__PUBLIC__/home/channels/131.html">科技动态</a></li>

                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11"><a href="__PUBLIC__/home/channels/132.html">财经动态</a></li>

                        </ul>-->

                    </li>

                </ul>

            </div>
            <div class="nav-right">
                <ul class="clearfix">
                    <li class="wx-li">
                        <div class="wx-pic"> <img src="__IMG__/index/wechat.png" alt="微信服务号" />
                            <div class="wx-text"> <span>微信扫一扫</span> </div>
                        </div>
                        <i class="icon wx-icon"></i><span>微信</span><em class="guide-prompt" style="display: none;"></em> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="top-pic">
    <div class="container">
        <div class="row" style="padding-top: 20px;margin-bottom: -20px;">

            <div class="col-sm-12 col-md-6 col-lg-6 pic-left">
                <div class="swiper-container bannerbox">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide banlist"> <img src="__IMG__/2017/6/29913228.png" onClick="window.location.href='__PUBLIC__/home/contents/139/923.html'" alt="与《冈仁波齐》一起艰难修行：导演张杨背后的三个商人" /> </div>

                        <div class="swiper-slide banlist"> <img src="__IMG__/2017/6/2992257394.png" onClick="window.location.href='__PUBLIC__/home/contents/139/922.html'" alt="手术方案可以用AI全程设计了，科幻离现实还有多远？" /> </div>

                        <div class="swiper-slide banlist"> <img src="__IMG__/2017/6/29929562.png" onClick="window.location.href='__PUBLIC__/home/contents/139/921.html'" alt="孔令辉刘国梁相继被“废”，苟局长对国乒动刀到底想干啥？" /> </div>

                    </div>
                    <div class="swiper-pagination bannav"></div>
                    <div class="swiper-button-next banleft"><i class="iconfont icon-gengduo bannerjb"></i></div>
                    <div class="swiper-button-prev banright"><i class="iconfont icon-fanhui bannerjb"></i></div>
                </div>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pic-mid">
                <ul>

                    <li><a href="__PUBLIC__/home/contents/139/920.html"> <img src="__IMG__/2017/6/2993920646.png" alt="别动我们的刘国梁" />
                        <div class="pic-title">
                            <h4>别动我们的刘国梁</h4>
                        </div>
                    </a></li>

                    <li><a href="__PUBLIC__/home/contents/139/919.html"> <img src="__IMG__/2017/6/2985513838.jpg" alt="共享单车新玩家聚焦二三线城市，但这并非一片蓝海" />
                        <div class="pic-title">
                            <h4>共享单车新玩家聚焦二三线城...</h4>
                        </div>
                    </a></li>

                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pic-right">
                <ul>

                    <li><a href="__PUBLIC__/home/contents/139/918.html"> <img src="__IMG__/2017/6/3014615543.png" alt="被妖魔化的《王者荣耀》" />
                        <div class="pic-title">
                            <h4>被妖魔化的《王者荣耀》</h4>
                        </div>
                    </a></li>

                    <li><a href="__PUBLIC__/home/contents/139/917.html"> <img src="__IMG__/2017/6/3016645662.png" alt="女子试戴30万玉镯摔断吓晕追问：真要赔这么多吗" />
                        <div class="pic-title">
                            <h4>女子试戴30万玉镯摔断吓晕追...</h4>
                        </div>
                    </a></li>

                </ul>
            </div>

        </div>
        <div class="row" style="padding-top: 20px;">
            <!--adv01 -->
            <div id="adv01"> <a><img src="__IMG__/2017/6/2893450598.png" /></a> </div>
        </div>
    </div>
</div>

<!--主要内容 -->
<div id="cont-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 cont-left">
                <div id="hour24" class="clearfix">
                    <div class="hour24-title">
                        <h3>科技动态</h3>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 hour24-left">

                        <div class="hour24-left-img"> <a href="__PUBLIC__/home/contents/131/928.html" title="水性PK&#65281;三星S8 vs iPhone 7，究竟谁才是水下高手？" target="_blank"> <img src="__IMG__/2017/6/29842553.png" alt="水性PK&#65281;三星S8 vs iPhone 7，究竟谁才是水下高手？" /> </a> </div>
                        <h3 class="htitle-color" style="font-weight: 400;"><a href="__PUBLIC__/home/contents/131/928.html">水性PK！三星S8 vs iPhone 7，究竟谁...</a></h3>
                        <div class="mob-author">
                            <span class="time"><i class="iconfont icon-shijian"></i>  2017-06-29</span>
                            <span class="time liulan"><i class="iconfont icon-faxian"></i> 今日头条</span>
                        </div>
                        <div class="mob-sub"> 重大消息！又有土豪来虐手机啦！想知道如何迅速败光5000块钱吗？备好零食饮料，搬上小板凳，让我们来一起围... </div>

                    </div>


                    <div class="col-sm-12 col-md-6 col-lg-6 hour24-right">
                        <ul>
                            <li class="clearfix"> <a href="__PUBLIC__/home/contents/131/927.html" title="预算1.8亿美元的《星际特工》有吴亦凡？吕克&#183;贝松：还不是为了中国票房" target="_blank">
                                <div class="h24-r-img"> <img src="__IMG__/2017/6/2985515272.jpg" alt="预算1.8亿美元的《星际特工》有吴亦凡？吕克&#183;贝松：还不是为了中国票房" /> </div>
                            </a>
                                <div class="h24-r-text"> <a href="__PUBLIC__/home/contents/131/927.html" title="预算1.8亿美元的《星际特工》有吴亦凡？吕克&#183;贝松：还不是为了中国票房" target="_blank"> <span class="h24-r-title">预算1.8亿美元的《星际特工》有吴亦凡？吕克&#183;贝松：还不是...</span> </a>
                                    <p class="mob-author"> <span class="time"><i class="iconfont icon-shijian"></i> 2017-06-29</span>   <span class="time"><i class="iconfont icon-faxian"></i> 壹娱观察</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <!--adv02 -->
                <div id="adv02" style="margin-top: 20px;"> <a><img src="__IMG__/2017/6/2614359131.png" /></a></div>
                <!--最新文章 -->
                <div class="la-title">
                    <h3>最新文章</h3>
                </div>


                <div class="la-list02 line-botm clearfix">
                    <div class="la-l-img"> <a href="__PUBLIC__/home/contents/132/940.html" target="_blank"> <img class="xyscale" src="__IMG__/2017/6/30135146965.png" alt="乐视解脱，温晓东止损，易到的命运却难言转折"> </img></a> </div>
                    <div class="la-r-text">
                        <h3> <a href="__PUBLIC__/home/contents/132/940.html" class="htitle-color" target="_blank">乐视解脱，温晓东止损，易到的命运却难言转折</a> </h3>
                        <div class="mob-author"> <span class="time"><i class="iconfont icon-mulutubiao"></i> <a href="__PUBLIC__/home/contents/132/940.html" style="color: #bbb;">
      财经动态
      </a> </span> <span class="time"><i class="iconfont icon-shijian"></i> 2017-06-30</span> <span class="time liulan"><i class="iconfont icon-faxian"></i> AI财经社</span> </div>
                        <div class="mob-sub"> 易到的这场并购，延宕已久又突如其来。对于乐视来说，总算脱手了一块“烫手山芋”；而作为乐视的投资方，温晓东接手尚有价值的易到也... </div>
                        <div class="tags">
                            <i class="iconfont icon-biaoqian"></i>

                            <a href="__PUBLIC__/home/utils/tags.html?tagName=乐视" rel="tag">乐视</a>

                            <a href="__PUBLIC__/home/utils/tags.html?tagName=金融" rel="tag">金融</a>

                        </div>
                    </div>
                </div>






                <div id="page">
                    <a href="javascript:;">上一页</a>



                    <span id="page-numberscurrent">1</span>

                    <a href="__PUBLIC__/home/index_2.html">2</a>

                    <a href="__PUBLIC__/home/index_3.html">3</a>

                    <a href="__PUBLIC__/home/index_4.html">4</a>



                    <a href="__PUBLIC__/home/index_2.html" style="background:#3CA5F6;">下一页</a>

                </div>




            </div>
            <div class="wrap-right pull-right">
                <div class="widget widget_ztmao_hotpost2">
                    <div class="box-moder hot-article">
                        <h3>热评文章</h3>
                    </div>
                    <div class="box-moder hot-article"> <span class="span-mark"></span>
                        <ul class="hots-post-widget">

                            <li>
                                <div class="mod-thumb"> <a href="__PUBLIC__/home/contents/131/934.html" target="_blank"> <img class="xyscale" src="__IMG__/2017/6/15184428989.jpg" alt="BAT都着力发展消费金融，相比之下有什么不同？" /> </a> </div>
                                <div class="project-content"> <a href="__PUBLIC__/home/contents/131/934.html" target="_blank">BAT都着力发展消费金融，相比之下有什么不同？</a> </div>
                            </li>

                        </ul>
                    </div>
                    <div class="placeholder"></div>
                </div>
                <div class="widget widget_ztmao_mostviews">
                    <div class="box-moder hot-article">
                        <h3>最热点击文章</h3>
                    </div>
                    <div class="box-moder hot-article"> <span class="span-mark"></span>
                        <ul class="hots-post-widget">


                            <li>
                                <div class="hot-article-img"> <a href="__PUBLIC__/home/contents/139/922.html" target="_blank"> <img class="xyscale" src="__IMG__/2017/6/2992257394.png" alt="手术方案可以用AI全程设计了，科幻离现实还有多远？" /> </a> </div>
                                <a href="__PUBLIC__/home/contents/139/922.html" class="transition" target="_blank">手术方案可以用AI全程设计了，科幻离现实还有多远？</a>
                            </li>

                        </ul>
                    </div>
                    <div class="placeholder"></div>
                </div>
                <div class="box-moder hot-tag ztmao-lianjie">
                    <h3>友情链接</h3>
                    <span class="span-mark"></span>
                    <div class="search-history search-hot">
                        <ul>

                            <li><a href="http://developer.siteserver.cn/" target="_blank">开发者中心</a></li>
                        </ul>
                    </div>
                </div>
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
</div>
<!--底部 -->
<div class="go-top0" id="gotopbtn" > <i class="icon icon-top"></i></div>
<div class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-6  footer-right">
                <div class="copy-right">
                    <div class="footer-tag-list">

                        <a href="http://stl.siteserver.cn/" target="_blank">关于我们</a>

                    </div>
                    <span>Copyright 2019版权所有</span> </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


